@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");

  font-display: swap;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #ffffff;
}

.page-header {
  box-sizing: border-box;
  margin-top: 17px;
  padding-right: 60px;
  padding-bottom: 38px;
  padding-left: 60px;

  color: #000000;

  background: linear-gradient(#ffffff 23px, #ffe17f 23px);
}

.page-header-main {
  padding-bottom: 2px;
}

.header-logo-link {
  display: block;
  margin-bottom: 26px;
}

.header-logo-link:focus {
  outline: none;
}

.page-header-logo {
  display: block;
}

.navigation {
  display: flex;
}

.header-left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  margin-right: 40px;
}

.header-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-line {
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: -16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 19px;

  background-color: #ffe17f;
  background-image: url("../img/header-icons/search.svg");
  background-position: left 14px top 10px;
  background-repeat: no-repeat;
  border: 2px solid #ffe17f;
  border-radius: 20px;
}

.search-line::placeholder {
  opacity: 0.3;
}

.search-line:hover::placeholder {
  opacity: 0.6;
}

.search-line:focus {
  border-color: #af4fff;
  outline: none;
}

.search-line:valid {
  border-right: none;
  border-color: #000000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-line:valid + .search-button {
  display: block;
}

.search-button {
  display: none;
  box-sizing: border-box;
  width: 160px;

  font-family: inherit;
  font-size: 16px;
  line-height: 19px;

  background-color: #ffe17f;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
  border-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  border-color: #000000;
}

.header-catalog-container {
  position: relative;
}

.header-catalog-container:focus-within .catalog-popover {
  display: block;
}

.header-catalog-container:hover .catalog-popover{
  display: block;
}

.navigation-catalog {
  position: relative;

  width: min-content;
  margin-right: auto;
  margin-left: -20px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 18px;

  letter-spacing: 0.2em;

  border: 2px solid #ffe17f;
  border-radius: 25px;

  white-space: nowrap;
}

.navigation-catalog::before {
  position: absolute;
  top: -2px;
  right: -52px;

  box-sizing: border-box;
  width: 50px;
  height: 50px;

  background-image: url("../img/header-icons/plus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;

  content: "";
}

.navigation-catalog::after {
  position: absolute;
  top: 22px;
  right: -35px;

  width: 16px;
  height: 2px;

  background-color: #000000;
}

.navigation-catalog:focus-visible {
  border-color: #af4fff;
}

.navigation-catalog:hover {
  border-color: #ffe17f;
}

.navigation-catalog:hover::before {
  background-image: none;
  opacity: 1;
}

.navigation-catalog:hover::after {
  content: "";
}

.navigation-catalog:active {
  border-color: #ffe17f;
  opacity: 0.3;
}

.navigation-catalog:active::before {
  background-image: none;
  opacity: 1;
}

.navigation-catalog:active::after {
  content: "";
}

.catalog-popover {
  position: absolute;
  left: -60px;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  min-height: 180px;
  width: 1160px;
  padding: 33px 60px 58px 60px;

  font-size: 16px;
  line-height: 19px;

  background-color: #ffe17f;
}

.subcatalog {
  display: grid;
  grid-template-columns: 219px 181px min-content;
  grid-template-rows: repeat(3, 19px);
  column-gap: 20px;
  row-gap: 15px;
  margin: 0;
  padding: 0;

  grid-auto-flow: column;
  list-style-type: none;
}

.subcatalog-item:last-child {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.subcatalog-link {
  position: relative;

  display: inline-block;

  color: inherit;
  text-decoration: none;
}

.subcatalog-link::after {
  position: absolute;
  top: -3px;
  right: -15px;
  bottom: -5px;
  left: -15px;

  border-radius: 13.5px;

  content: "";
}

.subcatalog-link:focus-visible {
  outline: none;
}

.subcatalog-link:focus-visible::after {
  border: 2px solid #af4fff;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.navigation-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 19px;
}

.navigation-link {
  display: block;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user .navigation-link {
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: none;

  background-repeat: no-repeat;
  border: 2px solid #ffe17f;
  border-radius: 20px;
}

.navigation-link:focus {
  outline: none;
}

.navigation-user .navigation-link:not(.navigation-link-exit):focus-visible {
  border-color: #af4fff;
}

.navigation-user .navigation-link:hover {
  opacity: 0.6;
}

.navigation-user .navigation-link:active {
  opacity: 0.3;
}

.user {
  margin-right: 6px;
}

.auth + .exit {
  visibility: initial;
}

.exit {
  margin-right: auto;

  visibility: hidden;
}

.cart {
  margin-right: -22px;
  margin-left: 16px;
}

.navigation-link-user {
  margin-left: -21px;
  padding-right: 21px;
  padding-left: 44px;

  background-image: url("../img/header-icons/user.svg");
  background-position: left 19px bottom 12px;
}

.navigation-link-exit {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
}

.navigation-link-exit:focus-visible::before {
  position: absolute;
  top: -2px;
  right: -20px;
  bottom: -2px;
  left: -20px;

  border: 2px solid #af4fff;
  border-radius: 20px;

  content: "";
}

.navigation-link-compare {
  padding-right: 19px;
  padding-left: 39px;

  background-image: url("../img/header-icons/compare.svg");
  background-position: left 19px bottom 12px;
}

.navigation-link-cart {
  position: relative;

  padding-right: 20px;
  padding-left: 42px;

  background-image: url("../img/header-icons/cart.svg");
  background-position: left 16px bottom 12px;
}

.navigation-link-cart::before {
  position: absolute;
  top: 7px;
  left: 1px;

  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding-top: 1.5px;

  font-size: 14px;
  line-height: 17px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;

  content: "2";
}

.cart:focus-within .popover {
  display: block;
}

.cart:hover .popover,
.popover:hover {
  display: block;
}

.popover {
  position: absolute;
  top: 37px;
  left: 26px;
  z-index: 1;

  display: none;
  min-height: 105px;
  width: 280px;
  padding: 20px;
  padding-top: 26px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background:
    linear-gradient(transparent 6px, #000000 6px),
    url("../img/triangle.svg") top 0 left 153px no-repeat;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);

  transform: translateX(-50%);
}

.popover-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cart-list-item {
  position: relative;

  display: flex;
  padding-bottom: 20px;
}

.cart-list-item:not(:first-child) {
  padding-top: 20px;
}

.cart-list-item:not(:first-child)::before {
  position: absolute;
  top: -1px;
  left: -20px;

  width: 320px;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.1);

  content: "";
}

.cart-item-link {
  display: flex;

  color: inherit;
  text-decoration: none;
}

.cart-item-img {
  margin-right: 23px;
}

.cart-item-title {
  width: 180px;
  margin: 0;
  padding: 0;

  font-size: inherit;
}

.cart-item-link:focus-visible {
  color: #af4fff;

  outline: none;
}

.cart-item-link:focus-visible .cart-item-img {
  outline: 5px solid #af4fff;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-delete {
  position: relative;

  width: 11px;
  height: 11px;
  margin: 0;
  margin-top: 7px;
  margin-right: 1px;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.cart-item-delete::before,
.cart-item-delete::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 15px;
  height: 1.5px;

  background-color: #ffffff;

  content: "";
}

.cart-item-delete:focus-visible {
  outline: 2px solid #af4fff;

  outline-offset: 7px;
}

.cart-item-delete:hover {
  opacity: 0.6;
}

.cart-item-delete:active {
  opacity: 0.3;
}

.cart-item-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cart-item-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #1a1a1a;
}

.number-of-item,
.total-sum {
  margin: 0;

  vertical-align: middle;
}

.open-cart-link {
  display: block;
  padding: 15px 25px;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ffffff;
}

.open-cart-link:focus-visible {
  outline: 5px solid #af4fff;
}

.open-cart-link:hover {
  background-color: #ffe17f;
}

.open-cart-link:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffe17f;
}

.navigation-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  letter-spacing: 0.2em;
}

.navigation-menu .navigation-item:nth-child(3n-2) {
  margin-left: -17px;
}

.navigation-menu .navigation-item:nth-child(3n) {
  margin-right: -17px;
  margin-left: auto;
}

.navigation-menu .navigation-item:last-child {
  margin-right: -17px;
}

.navigation-menu-link {
  position: relative;

  padding-top: 14px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 17px;
}

.navigation-menu-link::before {
  position: absolute;
  right: -3px;
  bottom: 0;
  left: -3px;

  box-sizing: border-box;
  height: 50px;

  content: '';
}

.navigation-menu-link:focus-visible::before {
  border: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-menu-link:hover::before {
  right: 20px;
  bottom: 7px;
  left: 17px;

  height: 2px;

  background-color: #000000;
  border: none;
}

.navigation-menu-link:active {
  opacity: 0.3;
}

.navigation-menu-link:active::before {
  right: 20px;
  bottom: 7px;
  left: 17px;

  height: 2px;

  background-color: #000000;
  border: none;
}

.main-container {
  flex-grow: 1;
}

.promo-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;

  background: linear-gradient(#ffe17f 150px, #ffffff 150px);
}

.slider-image-container {
  position: relative;

  width: 560px;
}

.slider-image-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-image-item {
  display: none;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: space-between;
  width: 100%;

  transform: translateY(-50%);
}

.slider-button {
  box-sizing: border-box;
  width: 40px;
  height: 80px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/slider/next-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 6px;

  cursor: pointer;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-description-container {
  position: relative;

  width: 560px;
}

.slider-description-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-description-item {
  display: none;
}

.slider-number {
  display: block;
  margin-top: 85px;
  margin-right: 50px;
  margin-left: auto;

  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  text-align: right;
  color: #ffffff;
}

.promo-phrase {
  margin-top: 6px;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.promo-description {
  margin-bottom: 40px;
}

.promo-details-link {
  position: relative;
  z-index: 0;

  display: block;
  width: 220px;
  margin-bottom: 55px;
  padding-top: 14px;
  padding-bottom: 15px;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.promo-details-link::before {
  position: absolute;
  top: 21px;
  right: 0;
  left: 0;
  z-index: -1;

  height: 8px;

  background-color: #ffe17f;
  outline: none;

  content: "";
}

.promo-details-link:focus {
  outline: none;
}

.promo-details-link:focus-visible::before {
  background-color: #af4fff;
}

.promo-details-link:hover {
  background-color: #ffe17f;
}

.promo-details-link:hover::before {
  visibility: hidden;
}

.promo-details-link:active {
  color:rgba(0, 0, 0, 0.3);

  background-color: #ffe17f;
}
.promo-details-link:active::before {
  visibility: hidden;
}

.slider-feature-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.feature-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 13px;
  margin-right: 20px;
}

.slider-feature-value {
  margin: 0;

  font-size: 36px;
  color: #000000;
}

.slider-pagination {
  position: absolute;
  right: 60px;
  bottom: 186px;

  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-pagination-button {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider-pagination-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.pagination-button-current {
  background-color: #000000;;
}

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-link {
  position: relative;

  display: block;
  padding-top: 193px;

  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.categories-link::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: #ffe17f;

  content: "";
}

.categories-link::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-position: center center;
  background-repeat: no-repeat;

  content: "";
}

.categories-link:focus-visible {
  color: #af4fff;

  outline: none;
}

.categories-link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.categories-link:hover::before {
  background-color: #ffc700;
}

.categories-link:active {
  color:rgba(0, 0, 0, 0.3);
}

.categories-link:active::before {
  background-color: #ffc700;
}

.categories-link:active::after {
  opacity: 0.3;
}

.services {
  margin-bottom: 90px;
  padding-bottom: 70px;

  background: linear-gradient(#ffffff 100px, #f0f0f0 100px);
}

.services-container {
  display: flex;
}

.services-list {
  width: 277px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 70px;

  border-right: 7px solid #000000;

  list-style-type: none;
}

.services-item:not(:last-child) {
  margin-bottom: 25px;
}

.services-button {
  position: relative;
  z-index: 0;

  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: none;
  border: none;

  cursor: pointer;
}

.services-button::after {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;

  background-color: #ffc700;

  content: "";
}

.services-button-current {
  color: #ffe17f;

  cursor: auto;
}

.services-button-current::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 280px;
  height: 40px;

  background-color: #000000;

  content: "";
}

.services-button:focus {
  outline: none;
}

.services-button:focus-visible::after {
  background-color: #af4fff;
}

.services-button:not(.services-button-current):hover::after {
  top: 0;
  left: 0;

  width: 160px;
  height: 40px;

  background-color: #ffc700;
}

.services-button:active {
  color: #ffe17f;
}

.services-button:not(.services-button-current):active::after {
  top: 0;
  left: 0;

  width: 280px;
  height: 40px;

  background-color: #000000;
}

.services-description-list {
  flex-grow: 1;
  margin: 0;
  margin-left: 116px;
  padding: 0;

  list-style-type: none;
}

.services-description-item {
  position: relative;

  display: none;
}

.services-description-item::after {
  position: absolute;

  background-repeat: no-repeat;

  content: "";
}

.services-delivery::after {
  right: 66px;
  bottom: 0;

  width: 136px;
  height: 164px;

  background-image: url("../img/services/delivery.svg");
}

.services-warranty::after {
  right: 46px;
  bottom: 0;

  width: 171px;
  height: 195px;

  background-image: url("../img/services/warranty.svg");
}

.services-credit::after {
  right: 70px;
  bottom: 0;

  width: 156px;
  height: 188px;

  background-image: url("../img/services/credit.svg");
}

.service-name {
  margin-top: 70px;
  margin-bottom: 34px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.service-description {
  width: 500px;
}

.delivery-on-order {
  margin-bottom: 146px;
}

.delivery-on-order-link {
  position: relative;

  display: block;
  width: 1160px;
  padding-top: 37px;
  padding-bottom: 40px;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;

  background: linear-gradient(to right, #ffe17f 125px, #f0f0f0 125px);
}

.delivery-car {
  position: absolute;
  top: 35px;
  left: 39px;
}

.delivery-on-order-link::before {
  position: absolute;
  top: 29px;
  right: 33px;

  width: 40px;
  height: 40px;

  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;

  content: "";
}

.delivery-on-order-link::after {
  position: absolute;
  top: 43px;
  right: 52px;

  width: 2px;
  height: 12px;

  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.delivery-on-order-link:focus-visible {
  outline: 5px solid #af4fff;
}

.delivery-on-order-link:hover {
  background: linear-gradient(to right, #ffc700 125px, #f0f0f0 125px);
}

.delivery-on-order-link:hover::before {
  background-color: #dcdcdc;
}

.delivery-on-order-link:hover::after {
  opacity: 1;
}

.delivery-on-order-link:active {
  color:rgba(0, 0, 0, 0.3);

  background: linear-gradient(to right, #ffc700 125px, #f0f0f0 125px);
  outline: none;
}

.delivery-on-order-link:active .delivery-car {
  opacity: 0.3;
}

.delivery-on-order-link:active::before {
  background-color: #dcdcdc;
}

.delivery-on-order-link:active::after {
  opacity: 0.3;
}

.about-contacts-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 87px;
}

.about {
  width: 560px;
}

.contacts {
  width: 560px;
}

.about-contacts-title {
  position: relative;

  margin-top: 0;
  margin-bottom: 46px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.about-contacts-title::before {
  position: absolute;
  top: -49px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;

  content: "";
}

.about p {
  margin-top: 30px;
}

.about p:last-of-type {
  margin-bottom: 80px;
}

.transport-companies-list {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  line-height: 20px;
  font-weight: 700;
  color: #000000;

  list-style-type: none;
}

.transport-companies-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 34px;
}

.transport-companies-item::before {
  position: absolute;
  top: 5px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #ffc700;
  border-radius: 50%;

  content: "";
}

.about-contacts-link {
  position: relative;
  z-index: 0;

  display: block;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 15px;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.about-contacts-link::before {
  position: absolute;
  top: 21px;
  right: 0;
  left: 0;
  z-index: -1;

  height: 8px;

  background-color: #ffe17f;

  content: "";
}

.about-contacts-link:focus {
  outline: none;
}

.about-contacts-link:focus-visible::before {
  background-color: #af4fff;
}

.about-contacts-link:hover {
  background-color: #ffe17f;
}

.about-contacts-link:hover::before {
  visibility: hidden;
}

.about-contacts-link:active {
  color: rgba(0, 0, 0, 0.3);

   background-color: #ffe17f;
}

.about-contacts-link:active::before {
  visibility: hidden;
}

.contacts p:not(.contacts-address-text) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;

  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:active {
  opacity: 0.3;
}

.working-hours-list {
  margin-bottom: 53px;
  padding: 0;

  list-style-type: none;
}

.write-to-us-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  padding-top: 75px;
  padding-bottom: 130px;

  background-color: #f0f0f0;
}

.newsletter-container {
  display: flex;
}

.newsletter-left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.newsletter-right-column {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.newsletter-email-field {
  position: relative;

  width: 100%;
  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 9px;
  padding-left: 1px;

  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.newsletter-email-field::placeholder {
  opacity: 0.5;
}

.newsletter-email-field:focus {
  background-color: #dcdcdc;
  outline: none;
}

.newsletter-email-field:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.newsletter-email-field:invalid:not(:placeholder-shown) {
  background-color: transparent;
  border-color: #000000;
}

.newsletter-email-field:valid:not(:placeholder-shown) {
  background-color: transparent;
  border-color: #000000;
}

.newsletter-email-field.error:not(:placeholder-shown) {
  border-color: #ff3d3d;
}

.newsletter-text {
  margin-top: 11px;
  margin-bottom: 50px;
}

.newsletter-bottom-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.newsletter-button {
  box-sizing: border-box;
  width: 260px;
  height: 55px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #f0f0f0;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.newsletter-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.newsletter-button:hover {
  color: #ffffff;

  background-color: #000000;
  border-color: #000000;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-free {
  position: relative;
}

.newsletter-free::before {
  position: absolute;
  top: 8px;
  left: -35px;

  width: 14px;
  height: 14px;

  background-image: url("../img/tick.svg");

  content: "";
}

.page-footer {
  padding-top: 62px;
  padding-bottom: 61px;

  color: #ffffff;

  background-color: #444444;
}

.page-footer-container {
  display: flex;
}

.footer-left-column {
  width: 239px;
}

.footer-logo-link {
  display: block;
  width: 145px;
  margin-bottom: 35px;
}

.footer-logo-link:focus {
  outline: none;
}

.footer-logo {
  display: block;
}

.footer-address-text {
  position: relative;

  margin-top: 0;

  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-address-text::after {
  position: absolute;
  bottom: -73px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc700;

  content: "";
}

.footer-middle-column {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-left: 108px;
}

.footer-navigation {
  margin-top: 65px;
  margin-bottom: 43px;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;

  list-style-type: none;
}

.footer-navigation-link {
  position: relative;

  display: block;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;

  color: #ffffff;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-navigation-link:focus {
  outline: none;
}

.footer-navigation-link:focus-visible::before {
  position: absolute;
  top: 0;
  right: -4px;
  left: -4px;

  box-sizing: border-box;
  height: 50px;

  border: 2px solid #af4fff;
  border-radius:25px;

  content: "";
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:hover::after {
  position: absolute;
  right: 16px;
  bottom: 7px;
  left: 16px;

  height: 2px;

  background-color: #ffc700;

  content: "";
}

.footer-navigation-link:active {
  color: #ffc700;

  opacity: 0.3;
}

.footer-navigation-link:active::after {
  position: absolute;
  right: 16px;
  bottom: 7px;
  left: 16px;

  height: 2px;

  background-color: #ffc700;

  content: "";
}

.footer-social {
  align-self: center;
}

.footer-social-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-link {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid #444444;
  border-radius: 25px;
}

.social-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #444444;
}

.social-link:focus-visible {
  background-color: #444444;
  border-color: #af4fff;
  outline: none;
}

.social-link:focus-visible .social-img {
  fill: #ffffff;
}

.social-link:hover {
  background-color: #ffc700;
  border-color: #444444;
}

.social-link:hover .social-img {
  fill: #444444;
}

.social-link:active {
  background-color: #ffc700;
  border-color: #444444;
}

.social-link:active .social-img {
  fill: #444444;
  opacity: 0.3;
}


.footer-right-column {
  margin-left: auto;

  text-align: right;
}

.footer-right-column .page-footer-contacts {
  margin-top: 76px;
  margin-bottom: 50px;
}

.footer-contacts-phone {
  display: block;
  margin-right: -15px;
  padding-top: 1px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 13px;

  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;

  border: 2px solid #444444;
  border-radius: 13.5px;
}

.footer-contacts-phone:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.footer-contacts-phone:hover {
  color: #ffc700;

  border-color: #444444;
}

.footer-contacts-phone:active {
  color: #ffc700;

  border-color: #444444;
  opacity: 0.3
}

.footer-htmlacademy-link {
  position: relative;

  display: block;
  width: 115px;
  height: 33px;
  margin-right: -10px;
  margin-left: auto;
  padding: 8px;

  border: 2px solid #444444;
  border-radius: 10px;
}

.htmlacademy-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #ffc700;
}

.footer-htmlacademy-link:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.footer-htmlacademy-link:hover {
  border-color: #444444;
}

.footer-htmlacademy-link:hover .htmlacademy-img {
  fill: #ffffff;
}

.footer-htmlacademy-link:active {
  border-color: #444444;
}

.footer-htmlacademy-link:active .htmlacademy-img {
  fill: #ffffff;
  opacity: 0.3;
}

/*Каталог*/

.inner-header {
  box-sizing: border-box;
  padding-top: 37px;
  padding-bottom: 49px;
  padding-left: 60px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 14px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 19px;

  list-style-type: none;
}

.breadcrumbs-item:first-child {
  margin-left: -13px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.breadcrumbs-link {
  position: relative;

  display: block;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 13px;

  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link::before {
  position: absolute;
  top: 12px;
  left: -6px;

  width: 4px;
  height: 7px;

  background-image: url("../img/breadcrumbs-arrow.svg");

  content: "";
}

.breadcrumbs-link:focus-visible {
  outline: 5px solid #af4fff;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-container {
  display: flex;
  justify-content: center;
}

.catalog-left-column {
  flex-grow: 1;
  width: 328px;

  background-color: #ebebeb;
}

.catalog-right-column {
  flex-grow: 1;
  width: 832px;
  padding-bottom: 77px;
}

.catalog-subtitle-container {
  margin-bottom: 83px;
  padding-top: 25px;
  padding-bottom: 26px;

  background-color: #dcdcdc;
}

.catalog-subtitle {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subtitle-filter {
  width: 236px;
  margin-right: 32px;
  margin-left: auto;
}

.catalog-filter-form {
  width: 200px;
  margin-right: 69px;
  margin-left: auto;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

.catalog-filter-group:first-child {
  margin-bottom: 69px;
}

.catalog-filter-form fieldset:last-of-type {
  margin-bottom: 51px;
}

.catalog-filter-title::before {
  position: absolute;
  top: -14px;

  width: 200px;

  border-top: 2px solid #000000;

  content: "";
}

.catalog-filter-title {
  position: relative;

  margin-bottom: 28px;
  padding: 0;

  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;
}

.filter-title-price {
  margin-bottom: 39px;
}

.range-scale {
  position: relative;

  height: 2px;

  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;

  height: 2px;

  background-color: #000000;
}

.range-toggle {
  position: absolute;
  top: -8px;

  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
}

.range-toggle:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.range-toggle:focus-visible + .filter-price-label {
  color: #af4fff;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:active + .filter-price-label {
  opacity: 1;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.filter-price-label {
  position: absolute;
  bottom: -33px;

  font-size: 15px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.min-price {
  left: 0;

  transform: translateX(calc(-50% + 9px));
}

.max-price {
  right: 0;

  transform: translateX(calc(50% - 9px));
}

.catalog-filter-input {
  padding: 0;

  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  color: inherit;

  background: none;
  border: none;

  -moz-appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.catalog-filter-input:focus {
  outline: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;

  display: block;
  padding-left: 37px;
}

.control:hover .control-input:checked:not(:disabled) + .control-mark {
  opacity: 0.5;
}

.control:hover .control-input:checked:not(:disabled) ~ .control-label {
  opacity: 0.5;
}

.control:active .control-input:checked:not(:disabled) + .control-mark {
  opacity: 0.2;
}

.control:active .control-input:checked:not(:disabled) ~ .control-label,
.control:active .control-input:not(:disabled) ~ .control-label {
  opacity: 0.2;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-input:disabled ~ .control-label {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  left: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.control-tick {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: transparent;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 3px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark .control-tick {
  fill: #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;

  content: "";
}

.control-input:focus-visible + .control-mark {
  border-color: #af4fff;
}

.control-input[type="checkbox"]:checked:focus-visible + .control-mark .control-tick {
  fill: #af4fff;
}

.control-input[type="radio"]:checked:focus-visible + .control-mark::before {
  background-color: #af4fff;
}

.control-input:focus-visible ~ .control-label {
  color: #af4fff;
}



.filter-submit-button {
  position: relative;
  z-index: 0;

  width: 200px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: none;
  border: none;

  cursor: pointer;
}

.filter-submit-button::after {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 200px;
  height: 8px;

  background-color: #ffc700;

  content: "";
}

.filter-submit-button:focus {
  outline: none;
}

.filter-submit-button:focus-visible::after {
  background-color: #af4fff;
}

.filter-submit-button:hover::after {
  top: 0;
  left: 0;

  width: 200px;
  height: 40px;

  background-color: #ffc700;
}

.filter-submit-button:active {
  color: #ffe17f;
}

.filter-submit-button:active::after {
  top: 0;
  left: 0;

  width: 200px;
  height: 40px;

  background-color: #000000;;
}

.sorting-container {
  margin-bottom: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 72px;

  background-color: #ebebeb;
}

.catalog-sorting {
  position: relative;

  display: flex;
  align-items: baseline;
  width: 760px;
}

.subtitle-sorting {
  margin-right: 40px;
}

.catalog-sorting-form {
  display: flex;
  flex-grow: 1;

  line-height: 19px;
}

.sorting-select {
  margin: 0;
  padding: 4px 41px 7px 13px;

  font-family: inherit;
  font-size: 16px;
  line-height: inherit;

  background: none;
  background-image: url("../img/dropdown.svg");
  background-position: top 12px right 15px;
  background-repeat: no-repeat;
  border: none;

  appearance: none;
}

.sorting-select:focus-visible {
  outline: 5px solid #af4fff;
}

.sorting-select:hover {
  opacity: 0.6;
}

.sorting-select:active {
  opacity: 0.3;
}

.sorting-order {
  position: absolute;
  top: 0;
  right: -10px;

  display: flex;
  margin: 0;
  padding: 0;

  border: none;
}

.sorting-mark {
  display: block;
  width: 11px;
  height: 10px;
  padding: 10px;

  background-image: url("../img/sort-up.svg");
  background-position: top 10px left 10px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-input[value="down"] ~ .sorting-mark {
  transform: rotate(180deg);
}

.sorting-input:checked ~ .sorting-mark {
  opacity: 1;
}

.sorting-input:focus-visible ~ .sorting-mark {
  outline: 5px solid #af4fff;
}

.sorting-input:not(:checked) ~ .sorting-mark:hover {
  opacity: 0.5;
}

.sorting-input:not(:checked) ~ .sorting-mark:active {
  opacity: 1;
}

.catalog-product {
  width: 760px;
  margin-left: 72px;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  list-style-type: none;
}

.product-link {
  display: block;

  color: #000000;
  text-decoration: none;
}

.product-link:focus {
  outline: none;
}

.product-link-image {
  position: relative;

  display: block;
  margin-bottom: 32px;
}

.product-image {
  display: block;
}

.product-details {
  position: absolute;
  top: 170px;
  right: 0;
  left: 0;
  z-index: 0;

  width: 180px;
  margin: auto;
  padding-top: 9px;
  padding-bottom: 10px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  visibility: hidden;
}

.product-details::before {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 180px;
  height: 8px;

  background-color: #ffc700;

  content: "";
}

.product-link-image:focus-visible::before {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 360px;
  height: 380px;

  border: 5px solid #af4fff;

  content: "";
}

.product-link-image:focus-visible + .product-item-text,
.product-link-image:focus-visible + .product-item-text .product-link {
  color: #af4fff;
}

.product-link-image:hover::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 380px;

  background-color: rgba(240, 240, 240, 0.8);

  content: "";
}

.product-link-image:hover .product-details {
  visibility: visible;
}

.product-details:hover::before {
  top: 0;
  left: 0;

  height: 40px;
}

.product-details:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-details:active::before {
  top: 0;
  left: 0;

  height: 40px;
}

.product-item-text {
  display: flex;
  justify-content: space-between;
}

.product-title {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-price {
  margin-left: 14px;

  line-height: 21px;

  white-space: nowrap;
}

.button-product-more {
  box-sizing: border-box;
  width: 760px;
  height: 55px;
  margin-bottom: 50px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.button-product-more:focus-visible {
  border: 5px solid #af4fff;
  outline: none;
}

.button-product-more:hover {
  border: 3px solid #000000;
}

.button-product-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.product-pagination {
  display: flex;
  align-items: center;
  width: 760px;
  margin: 0;
  padding: 0;

  background-color: #ebebeb;

  list-style-type: none;
}

.product-pagination-item:nth-child(2) ~ .product-pagination-item:not(:last-child) {
  margin-left: 2px;
}

.product-pagination-link {
  display: block;

  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.product-pagination-link:focus {
  outline: none;
}

.product-pagination-prev {
  margin-right: auto;
}

.product-pagination-next {
  margin-left: auto;
}

.page-number {
  box-sizing: border-box;
  width: 38px;
  padding-top: 3px;
  padding-bottom: 6px;

  text-align: center;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-prev-link,
.pagination-next-link {
  padding-top: 24px;
  padding-right: 29px;
  padding-bottom: 27px;
  padding-left: 29px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-pagination-link:not([href]) {
  cursor: not-allowed;
}

.pagination-prev-link:focus-visible,
.pagination-next-link:focus-visible {
  outline: 5px solid #af4fff;

  outline-offset: -5px;
}

.pagination-prev-link[href]:hover,
.pagination-next-link[href]:hover {
  background-color: #dcdcdc;
}

.pagination-prev-link[href]:active,
.pagination-next-link[href]:active {
  color:rgba(0, 0, 0, 0.3);

  background-color: #dcdcdc;
}

.page-number:focus-visible {
  border: 5px solid #af4fff;
}

.page-number[href]:hover {
  color: rgba(68, 68, 68, 1);
}

.page-number[href]:active {
  color: rgba(68, 68, 68, 0.1);
}

/*Декоративные изображения*/

.vr::after {
  background-image: url("../img/categories/vr.svg");
}

.selfie-monopod::after {
  background-image: url("../img/categories/selfie-monopod.svg");
}

.action-camera::after {
  background-image: url("../img/categories/action-camera.svg");
}

.fitness-bracelet::after {
  background-image: url("../img/categories/fitness-bracelet.svg");
}

.smart-watch::after {
  background-image: url("../img/categories/smart-watch.svg");
}

.quadrocopter::after {
  background-image: url("../img/categories/quadrocopter.svg");
}

.services-delivery::after {
  display: inline-block;
  width: 136px;
  height: 164px;

  background-image: url("../img/services/delivery.svg");

  content: "";
}

.active {
  display: revert;
}

input::-webkit-search-cancel-button {
  display: none;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  box-sizing: border-box;
  width: 920px;
  padding: 62px 70px;

  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 70px;

  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 36px;
  height: 4px;

  background-color: #000000;

  content: "";
}

.modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:focus-visible {
  outline: 5px solid #af4fff;

  outline-offset: 12px;
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.modal-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-rows: 34px 60px 30px 10px 34px 60px 44px 40px;
  column-gap: 40px;
  width: 760px;
}

.modal-label {
  line-height: 20px;
  font-weight: 700;
}

.modal-input {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  background-color: #f0f0f0;
  border: none;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-input:not(.input-number) {
  padding-right: 50px;
  padding-left: 20px;

  background-position: right 20px top 24px;
  background-repeat: no-repeat;
}

.modal-input:focus {
  outline: 5px solid #af4fff;
}

.modal-input:hover {
  background-color: #ebebeb;
}

.modal-input[type="text"]:valid,
.modal-input[type="number"]:valid {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #000000;
}

.modal-input[type="number"]:valid ~ .number-group-button {
  background-color: #ffffff;
}

.modal-input[type="number"]:valid ~ .number-minus {
  box-shadow:
    inset 3px 0 #000000,
    inset 0 3px #000000,
    inset 0 -3px #000000;
}

.modal-input[type="number"]:valid ~ .number-plus {
  box-shadow:
    inset -3px 0 #000000,
    inset 0 3px #000000,
    inset 0 -3px #000000;
}

.modal-error[type="number"]:valid ~ .number-minus,
.modal-error[type="number"]:invalid ~ .number-minus {
  box-shadow:
    inset 3px 0 #ff3d3d,
    inset 0 3px #ff3d3d,
    inset 0 -3px #ff3d3d;
}

.modal-error[type="number"]:valid ~ .number-plus,
.modal-error[type="number"]:invalid ~ .number-plus {
  box-shadow:
    inset -3px 0 #ff3d3d,
    inset 0 3px #ff3d3d,
    inset 0 -3px #ff3d3d;
}

.input-email:invalid:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #000000;
}

.input-email:valid:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #000000;
}

.input-name:invalid + .under-text {
  color: red;
}

.under-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
}

.label-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.input-name {
  background-image: url("../img/modal-icons/user.svg");

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.under-name-text {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.label-email {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.input-email {
  background-image: url("../img/modal-icons/mail.svg");

  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.under-name-email {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.label-request {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.input-request {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.label-number-container {
  position: relative;

  display: flex;

  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.info-button {
  position: absolute;
  top: -2px;
  right: 14px;

  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  background-color: #ffe17f;
  background-image: url("../img/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
}

.info-button:focus-visible {
  outline: 2px solid #af4fff;
}

.info-button:focus-visible + .info-popover {
  display: block;
}

.info-button:hover + .info-popover{
  display: block;
}

.info-popover {
  position: absolute;
  top: 28px;
  right: -20px;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  width: 200px;
  padding: 19px;

  background:
    linear-gradient(transparent 6px, #000000 6px),
    url("../img/triangle.svg") top 0 right 40px no-repeat;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.info-text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.modal-number-group {
  position: relative;

  display: flex;
  justify-content: center;

  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.number-group-button {
  position: absolute;
  top: 0;

  display: block;
  width: 50px;
  height: 60px;
  margin: 0;
  padding: 0;

  background-color: #f0f0f0;
  border: none;

  cursor: pointer;
}

.number-minus {
  left: 0;
}

.number-plus {
  right: 0;
}

.number-minus::before {
  position: absolute;
  top: 29px;
  right: 15px;

  width: 16px;
  height: 2px;

  background-color: #000000;
  opacity: 0.3;

  content: "";
}

.number-minus::after {
  position: absolute;
  top: 14px;
  right: 7px;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  content: "";
}

.number-plus::before {
  position: absolute;
  top: 22px;
  left: 15px;

  width: 16px;
  height: 16px;

  background-image: url("../img/header-icons/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.number-plus::after {
  position: absolute;
  top: 14px;
  left: 7px;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  content: "";
}

.number-group-button:focus-visible {
  outline: none;
}

.number-group-button:focus-visible::after {
  outline: 2px solid #af4fff;

  outline-offset: -2px;
}

.input-number {
  display: block;
  width: 60px;
  padding-right: 50px;
  padding-left: 50px;

  text-align: center;

  -moz-appearance: textfield;
}

.imput-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input.modal-error:invalid:not(:placeholder-shown),
input.modal-error:invalid:placeholder-shown,
input.modal-error[type="text"]:valid,
input.modal-error[type="number"]:valid {
  box-shadow: inset 0 0 0 3px #ff3d3d;
}

.modal-error + .under-text {
  color: #ff3d3d;
}

.modal-form-submit {
  position: relative;
  z-index: 0;

  width: 200px;
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  grid-column: 1 / 2;
  grid-row: 8 / 9;
  cursor: pointer;
}

.modal-form-submit::before {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 200px;
  height: 8px;

  background-color: #ffc700;

  content: "";
}

.modal-form-submit:focus-visible {
  outline: none;
}

.modal-form-submit:focus-visible::before {
  background-color: #af4fff;
}

.modal-form-submit:hover {
  background-color: #ffc700;
}

.modal-form-submit:hover::before {
  background-color: #ffc700;
}

.modal-form-submit:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffc700;
}

.modal-form-submit:active::before {
  background-color: #ffc700;
}
